.fontList {
  font-size: 0.9rem;
  border-bottom: 0.1px solid var(--baseTwo);
}

.eachData {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  word-break: break-all;
  padding: 5px;
}

.editBtn {
  color: var(--baseOne);
  height: 30px;
  width: 30px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editBtn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.deleteBtn {
  color: var(--baseFour);
  height: 30px;
  width: 30px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteBtn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.spinner {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
