@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --baseOne: #002639;
  --baseTwo: #d3d0cb;
  --baseThree: #e7e5df;
  --baseFour: #009adf;
  --baseFive: rgb(148 163 184);
  --contrastStrong: #fff;
  --contrastBright: #393e41;
  --btnPrimary: #3b82f6;

  --boxShadow1: 0px 2px 2px 0px rgba(88, 88, 88, 0.5);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    112deg,
    var(--contrastStrong) 0%,
    var(--baseThree) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.containerPages {
  width: 90%;
  margin: 48px auto 24px auto;
  min-height: 68vh;
}

.pageTitle {
  color: var(--baseOne);
  font-size: 2rem;
}

.logo {
  font-size: 2rem;
  color: var(--contrastStrong);
  user-select: none;
}

/* buttons */

.mainBtn {
  background-color: var(--baseOne);
  color: var(--contrastStrong);
  width: 200px;
  margin: 0 15px;
}

.mainBtn:hover {
  background-color: var(--btnPrimary);
  color: var(--contrastStrong);
}

.btnDefaultColor {
  background-color: var(--btnPrimary);
  color: var(--contrastStrong);
  transition: 0.5s ease-in-out;
}

/* colors */

.baseOneText {
  color: var(--baseOne);
}

.baseFourText {
  color: var(--baseFour);
}

.contrastBrightText {
  color: var(--contrastBright);
}

.contrastStrongText {
  color: var(--contrastStrong);
}

.contrastStrongBg {
  background-color: var(--contrastStrong);
}

/* responsive */

@media screen and (max-width: 768px) {
  .mainBtn {
    margin: 0 5px;
    width: 175px;
  }
}

@media screen and (max-width: 640px) {
  .pageTitle {
    font-size: 1.6rem;
  }

  .logo {
    font-size: 1.75rem;
  }

  .btnArea {
    width: 100%;
  }

  .mainBtn {
    width: 100%;
    margin: 0;
  }
}
