.headerBase {
  height: 80px;
  width: 100%;
  background-color: var(--baseOne);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(88, 88, 88, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(88, 88, 88, 0.5);
}

.logo {
  font-size: 2rem;
  color: var(--contrastStrong);
  user-select: none;
}

.navLinkSelected,
.navLinks {
  color: var(--baseThree);
  font-weight: 700;
  margin: 0 10px;
  transition: all 200ms ease-in-out;
}

.navLinkSelected {
  border-bottom: 2px solid var(--contrastStrong);
}

.navLinks:hover {
  transition: all 200ms ease-in-out;
  transform: scale(1.05);
  color: var(--baseFour);
}

@media screen and (max-width: 640px) {
  .headerBase {
    height: 110px;
  }

  .logo {
    font-size: 1.75rem;
  }
}
