.headerBase {
  height: 80px;
  width: 100%;
  background-color: var(--baseOne);
  -webkit-box-shadow: 0px 4px 4px 0px var(--boxShadow1);
  box-shadow: 0px 4px 4px 0px var(--boxShadow1);
}

.navLinkSelected,
.navLinks {
  color: var(--contrastStrong);
  font-weight: 700;
  margin: 0 10px;
  transition: all 200ms ease-in-out;
}

.navLinkSelected {
  border-bottom: 2px solid var(--contrastStrong);
}

.navLinks:hover {
  transition: all 200ms ease-in-out;
  transform: scale(1.05);
  color: var(--baseFour);
}

@media screen and (max-width: 640px) {
  .headerBase {
    height: 110px;
  }
}
